:root{
    --mainfont: 'Poppins', sans-serif;
}

/* 60/60/59 - Darkgrey */

html{
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--mainfont);
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 120vh;
    
}


/* HEADER */
header{
    border-radius: 6px;
    width: 60%;
    height: 80px;
    background-color: darkgrey;
    margin: 100px auto 30px auto;
    color: rgb(60, 60, 65);
}
nav{

}
#links{
    width: 50%;
    height: 30px;
    margin: 65px auto 0px auto;
}
#links > a{
    text-decoration: none;
    color: black;
    padding: 0px 8px 0px 8px;
   

}
#links > a:nth-child(n+4){  
    float: right;
}
hr{
    width: 60%;
}
